.postlist-item {
  border: 1px solid;
  border-radius: 10px;
  margin: 2rem;
  max-width: 50rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 150px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'title links' 'body links';
}

.postlist-item__title {
  grid-area: title;
  border-bottom: 1px solid black;
  padding-bottom: 2rem;
}

.postlist-item__body {
  grid-area: body;
}

.postlist-item__links {
  grid-area: links;
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.postlist-item__links a,
.postlist-item__links a:visited {
  text-decoration: none;
  color: black;
}

.postlist-item__link-item {
  margin: 0.5rem;
  display: flex;
  justify-content: space-around;
}

.postlist-item__view-icon {
  background-image: url(../../../assets/iconfinder_view-show_3671905.svg);
  height: 1rem;
  width: 1rem;
  background-repeat: no-repeat;
}

.postlist-item__edit-icon {
  background-image: url(../../../assets/iconfinder_write_126582.svg);
  height: 1rem;
  width: 1rem;
  background-repeat: no-repeat;
}
.postlist-item__delete-icon {
  background-image: url(../../../assets/iconfinder_close_309090.svg);
  height: 1rem;
  width: 1rem;
  background-repeat: no-repeat;
}
